/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  /* background-color: #1e1e1e; */
  background-color: #181524;

  font-family: sans-serif;
}

/* Root Layout */
#root {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  text-align: center;
  padding: 1rem 0 0.5rem;
  user-select: text;
  color: rgb(214, 209, 209);
  background-color: #382f53;
  border-radius: 0.5rem;
}

/* Main Layout */
main {
  flex: 1;
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
  overflow: hidden;
}

/* Panels */
main .left,
main .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  overflow: hidden;
}

/* Left Panel */
main .left {
  background-color: #0c0c0c;
}

/* Code Editor */
.left .code {
  background-color: inherit;
  color: white;
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

/* Review Button (Fixed Position Inside Left Panel) */
main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #7f5af0;
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  z-index: 10;
}

/* Right Panel */
main .right {
  background-color: #2c2c2c;
  color: #ffffff;
  overflow: auto;
  font-size: 1rem;
}

/* Panel Headings */
.panel-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f8f8f2;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #333;
  border-radius: 0.5rem;
  text-align: center;
}

/* Code Output */
.right-code {
  padding: 1rem;
  font-size: 1.2rem;
}
